extends layout

block content

    h1 Uh Oh!
    h3 Someone has already accessed this page, meaning the person you were supposed to buy for has been deleted from the system
    h3 Let the groupchat know and we can arrange a re run.