extends layout

block content
  h1= title
  p Welcome to #{title}, select your name from the dropdown and then press "#{button} and get the person you're buying for this Christmas.
  p Good Luck, your budget is #{budget}