extends layout

block content
    h1 Assuming that you are #{santa}, then you are to buy for #{person}.
    h1 Good Luck!
    h3 P.S Remember your person, this is a self destructing page! Once you have accessed it, you can't access it again...

